
<div class="index-page-content-container">
    <div id="main-content">
      {{#each this}}
        <div class="post">
            {{!-- <div class="post-home-image">
                <img class="post-image" src="http://html.com/wp-content/uploads/very-large-flamingo.jpg" alt="picture">
            </div> --}}
            <div class="post-image-content">
               
            </div>
            <div>
                    <div class="post-category">
                    {{mainCategorie}}
                    </div>
                    <div class="post-date">
                        JAN
                    </div>
                    <div class="post-date">
                    24
                    </div>
                </div> 
            <a href="#/{{mainCategorie}}/{{categorie}}/{{id}}">
                <h5 class="post-title">
                  {{title}}
                </h5>
            </a>
            <p class="post-author">
                posted by {{author}}
            </p>
            <hr class="post-separator" />
            <p class="post-summary">
                {{content}}
            </p>
            <div class="post-bottom">
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- <div class="pagination-container">
        <p class="pagination_go_left"><a href="#/?page={{vm.previousPage}}">&laquo;</a></p>
        <p class="pagination">
            <span ng-repeat="page in vm.pages">
                <a href="#/?page={{page.num}}" class="{{page.selected}}">{{page.num}}</a>
            </span>
        </p>
        <p class="pagination_go_right"><a href="#/?page={{vm.nextPage}}">&raquo;</a></p>
    </div> --}}
</div>

