
<div class="index-page-content-container">
    <div class="post-location"></div>
    <div id="main-content">
      {{#each this}}
      {{#if this.size}}
       <a href="#/{{mainCategorie}}/{{categorie}}/{{id}}">
            <div class="post-big">
                    <div class="post-image home">
                        <img src="http://www.bollywoodlife.com/wp-content/uploads/2016/01/652173.jpg">
                    </div>
                    <div class="post-image-content">
                        <div class="category-and-date">
                            <div class="post-category">
                            {{mainCategorie}}{{id}}
                            </div>
                            <div class="post-date month">
                                JAN
                            </div>
                            <div class="post-date">
                            24
                            </div>
                        </div>
                    </div>
                    
                        <h2 class="post-title">
                        {{title}}
                        </h2>
                    
                    <p class="post-author">
                        posted by {{author}}
                    </p>
                    <hr class="post-separator" />
                    <p class="post-summary">
                        {{content}}
                    </p>
                    <div class="post-bottom">
                    </div>
                </div>
       </a>
        {{else}}
         <div class="post">
            {{!-- <div class="post-home-image">
                <img class="post-image" src="http://html.com/wp-content/uploads/very-large-flamingo.jpg" alt="picture">
            </div> --}}
            <div class="post-image home">
                <img src="https://c1.staticflickr.com/4/3736/32762943674_2456ce495c_b.jpg">
            </div>
            <div class="post-image-content">
                <div class="category-and-date">
                    <div class="post-category">
                    {{mainCategorie}}{{id}}
                    </div>
                    <div class="post-date month">
                        JAN
                    </div>
                    <div class="post-date">
                    24
                    </div>
                </div>
            </div>
            
            <a href="#/{{mainCategorie}}/{{categorie}}/{{id}}">
                <h2 class="post-title">
                  {{title}}
                </h2>
            </a>
            <p class="post-author">
                posted by {{author}}
            </p>
            <hr class="post-separator" />
            <p class="post-summary">
                {{content}}
            </p>
            <div class="post-bottom">
            </div>
        </div>
        {{/if}}
        
        {{/each}}
        <div class="pagination-container">
        <span class="pagination_go_left"><a href="#">&laquo;</a></span>
        <div class="pagination">
            <span>
                <a href="#/" >1</a>
            </span>
             <span>
                <a href="#/" >2</a>
            </span>
             <span>
                <a href="#/" >3</a>
            </span>
             <span>
                <a href="#/" >4</a>
            </span>
             <span>
                <a href="#/" >5</a>
            </span>
        </div>
        <span class="pagination_go_right"><a href="#">&raquo;</a></span>
    </div>
    </div>
    
</div>

