<main>
    {{#this}}
     <p ><a href="#/">Home</a> &raquo; <a href="#/{{mainCategorie}}/{{categorie}}">{{categorie}}</a> &raquo; {{title}}</p>
    <article>
        <div class="post-content">
              <div class="post-full-content-left">
                  <div class="image-date">
                      <p class="post-categorie-left">{{categorie}}</p>
                    </div>
                    <div class="tags">
                        <h4 class="post-aside-atributes">TAGS</h4> 
                            <ul>
                                {{#each tags}}
                                <li class="tag-li">
                                  {{this}}
                                </li>
                                {{/each}}
                            </ul> 
                    </div>
                    <div class="related-post-share-this">
                    <h4 class="post-aside-atributes">RELATED POST</h4>
                    <ul>
                        <li>tova</li>
                        <li>vtoro</li>
                        <li>treto</li>
                    </ul>
                    </div>
                    <div class="related-post-share-this">
                        <div class="social-madeia">
                            <h4 class="post-aside-atributes">SHARE THIS</4>
                            <div class="share-phone">
                                    <a href="#"><img src="../images/twetterLogo.png" alt="twetter"></a>
                                    <a href="#"><img src="../images/facebookLogo.png" alt="facebook"></a>
                                    <a href="#"><img src="../images/thirdLogo.png" alt="dontknow"></a>
                                    <a href="#"><img src="../images/diggLogo.png" alt="digg"></a>
                                    <a href="#"><img src="../images/fifthLogo.png" alt="what"></a>
                            </div>
                      </div>
                    </div>
            </div>
            <div class="post-full-content-right">
                    <h1 class="post-title">{{title}}</h1>
                    <h4 class="post-author">POSTED BY {{author}} IN {{categorie}} categorie</h4>
                    <hr class="separator">
                    <p class="full-text">{{content}}</p>
            </div>
          
        </div>
        
        <div class="post-comments">
            <div class="comments">
              <h1 class="post-title">Comments</h1>
              <div class="comment">
                {{#if comments}}
                {{#each comments}}
               <div class="single-comment">
                    <hr class="separator">
                   <div class="comment-author">
                        {{name}}
                   </div>
                    <div class="comments-text">
                        {{commentText}}
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="comment-author">No Comments</div>
                {{/if}}
                </div>
                <div class="comments-content">
                    <form name="postCommentForm" class="comment-form" accept-charset="utf-8">
                        <input type="text"  id="authorName" placeholder="Your name" required="required">
                        <input type="url"   id="avatar" placeholder="Avatar URL" >
                        <textarea id="text" rows="10" required="required"></textarea>
                        <div class="reply-btn-container">
                            <button class="submit" type="button">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
    {{/this}}
</main>