
<main>
    {{#this}}
    <div class="post-location"><a  href="#/">Home</a><span class="arrow location-arrow">&raquo;</span><a href="#/{{mainCategorie}}/{{categorie}}">{{categorie}}</a> <span class="arrow location-arrow">&raquo;</span> <span class="opened-post">{{title}}</span></div>
    <article>
        <div class="post-content">
              <div class="post-full-content-left">
                <div class="post-image-content single-post">
                 <div class="post-image">
                 <img src="https://c1.staticflickr.com/4/3736/32762943674_2456ce495c_b.jpg">
                 </div>
                    <div class="category-and-date single-post-category-and-date">
                        <div class="post-category">
                        {{mainCategorie}}{{id}}
                        </div>
                        <div class="post-date month">
                            JAN
                        </div>
                        <div class="post-date">
                        24
                        </div>
                    </div>
                 </div>
                 <div class="tags">
                        <h4 class="post-aside-atributes">TAGS</h4> 
                            <ul>
                                {{#each tags}}
                                <li class="tag-li">
                                  <a href="#/tags/{{this}}">{{this}}</a>
                                </li>
                                {{/each}}
                            </ul> 
                </div>
                <div class="related-post-share-this related-post">
                <h4 class="post-aside-atributes">RELATED POST</h4>
                <ul class="aside-links-list ">
                    <li ><a ><span class="arrow"></span>&raquo;</span>Vivamus id dui sagittis </a></li>
                    <li ><a ><span class="arrow"></span>&raquo;</span>Vivamus id dui sagittis</a></li>
                    <li ><a ><span class="arrow"></span>&raquo;</span>Vivamus id dui sagittis </a></li>
                 </ul>
                    </div>
                    <div class="related-post-share-this">
                        <div class="social-madeia">
                            <h4 class="post-aside-atributes">SHARE THIS</h4>
                            <div class="share-phone">
                                    <a href="#"><img src="../images/twetterLogo.jpg" alt="twetter"></a>
                                    <a href="#"><img src="../images/facebookLogo.jpg" alt="facebook"></a>
                                    <a href="#"><img src="../images/thirdLogo.jpg" alt="dontknow"></a>
                                    <a href="#"><img src="../images/diggLogo.jpg" alt="digg"></a>
                                    <a href="#"><img src="../images/fifthLogo.jpg" alt="what"></a>
                            </div>
                      </div>
                    </div>
            </div>
            <div class="post-full-content-right">
                    <h1 class="post-title single-post">{{title}}</h1>
                    <h4 class="post-author">POSTED BY {{author}} IN {{categorie}} category</h4>
                    <hr class="separator">
                    <p class="full-text">{{content}}</p>
            </div>
          
        </div>
        
        <div class="post-comments">
            <div class="comments">
               <h1 class="post-title single-post-title">Comments</h1>
              <div class="comment">
                {{#if comments}}
                {{#each comments}}
               <div class="single-comment">
                    <hr class="separator">
                   
                     <div class="comment-image-content">
                    {{#if avatar}}
                     <img  class= "comment-avatar" src="{{avatar}}">
                    {{/if}}
                     <div class="category-and-date">
                        <div class="comment-date">
                            JAN
                        </div>
                        <div class="comment-category">
                        24
                        </div>
                        
                    </div>
                 </div>
                 <div class="left-comment">
                   <div class="comment-author">
                        {{name}}
                   </div>
                    <div class="comments-text">
                        {{commentText}}
                    </div>
                    <div class="btn-replay-div">
                        <button class="btn-replay rpl">replay</button>
                       
                      <form name="postCommentForm" class="comment-form replay-form" accept-charset="utf-8">
                           <h1 class="post-title single-post-title-comment">your replay</h1>
                           <input type="text"  id="authorName-replay" placeholder="Your name" required="required">
                           <input type="url"   id="avatar-replay" placeholder="Avatar URL" >
                           <textarea id="text-replay" rows="10" required="required"></textarea>
                         <div class="btn-replay-div submit-div">
                          <button class="btn-replay sbm-replay" type="button" value="{{key}}">Submit</button>
                         </div>
                       </form>
                    </div>
                     
                    </div>
                </div>
                    {{#if replay}}
                    {{#each replay}}
                    <div class="single-comment replay">
                        <div class="comment-image-content">
                             {{#if avatarReplay}}
                            <img  class= "comment-avatar" src="{{avatarReplay}}">
                             {{/if}}
                     <div class="category-and-date">
                        <div class="comment-date">
                            JAN
                        </div>
                        <div class="comment-category">
                        24
                        </div>
                    </div>
                    </div>
                    <div class="left-comment">
                    <div class="comment-author">
                            {{nameReplay}}
                    </div>
                        <div class="comments-text">
                            {{commentTextReplay}}
                        </div>
                     <div class="btn-replay-div">
                        {{!-- <button class="btn-replay rpl">replay</button> --}}
                    </div>
                    </div>
                    </div>
                    {{/each}}
                    {{/if}}
                {{/each}}
                {{else}}
                <div class="comment-author">No Comments</div>
                {{/if}}
                </div>
                <div class="comments-content">
                    <h1 class="post-title single-post-title-comment">Leave a comment</h1>
                    <form name="postCommentForm" class="comment-form" accept-charset="utf-8">
                        <input type="text"  id="authorName" placeholder="Your name" required="required">
                        <input type="url"   id="avatar" placeholder="Avatar URL (optional)" >
                        <textarea id="text" rows="10" required="required"></textarea>
                        <div class="btn-replay-div submit-div">
                        <button class="btn-replay sbm " type="button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
    {{/this}}
     <aside>
         <div class="aside-bar">
             <ul class="togle-class-fn">
                 <li class="first active">
                    <h2 class="title-toggle"> recent</h2>
                     <ul class="submenu-toggle">
                        <li>
                              <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                             <p>Posted by admin on Mar 13</p>
                         </li>
                         <li>
                              <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                         <li>
                              <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                         <li>
                              <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                     </ul>
                 </li>
                 <li  class="second">
                     <h2 class="title-toggle">popular</h2>
                     <ul class="submenu-toggle">
                        <li>
                              <img src="http://picpulp.com/wp-content/uploads/2013/03/81.jpg?x11708" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="http://picpulp.com/wp-content/uploads/2013/03/81.jpg?x11708" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="http://picpulp.com/wp-content/uploads/2013/03/81.jpg?x11708" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                         <li>
                              <img src="http://picpulp.com/wp-content/uploads/2013/03/81.jpg?x11708" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="http://picpulp.com/wp-content/uploads/2013/03/81.jpg?x11708" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                     </ul>
                 </li>
                 <li  class="third">
                     <h2 class="title-toggle">random</h2>
                     <ul class="submenu-toggle">
                         <li>
                              <img src="https://www.edmonton.ca/attractions_events/documents/Images/BigPicturePrize2_DickTam.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="https://www.edmonton.ca/attractions_events/documents/Images/BigPicturePrize2_DickTam.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="https://www.edmonton.ca/attractions_events/documents/Images/BigPicturePrize2_DickTam.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="https://www.edmonton.ca/attractions_events/documents/Images/BigPicturePrize2_DickTam.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                          <li>
                              <img src="https://www.edmonton.ca/attractions_events/documents/Images/BigPicturePrize2_DickTam.jpg" class="comment-image-content">
                             <h6> Vivamus id dui sagittis, accumsan dui eget</h6>
                              <p>Posted by admin on Mar 13</p>
                         </li>
                     </ul>
                 </li>
             </ul>
         </div>
         <div class="aside-links">
            <h2 class="title-toggle">CUSTOM TEXT WIDGET</h2>
            <hr class="separator">
            <ul class="aside-links-list ">
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
                <li ><a ><span class="arrow">&raquo;</span>Vivamus id dui sagittis, accumsan dui eget </a></li>
            </ul>
           
        </div>
             <div class="aside-text">
               <h2 class="title-toggle">CUSTOM TEXT </h2>
               <hr class="separator">
               <p>uis elit dui, convallis non lorem ut, euismod pharetra risus. Proin sit amet efficitur arcu, ac egestas velit. 
                Curabitur hendrerit aliquam mauris, vitae mattis purus eleifend a. Maecenas vestibulum, turpis vel suscipit sollicitudin,
                 dui nisi suscipit libero, non laoreet velit quam ac nulla. Cras fermentum mi non pharetra volutpat.Nullam suscipit lorem diam, 
                 vitae pellentesque tortor dignissim in. Vestibulum feugiat consequat est, et eleifend nulla pharetra id. Morbi iaculis euismod commodo.
                  Proin tempus, nulla et fringilla dapibus, sem elit tempor felis, vitae auctor elit nisi in lectus. Vivamus id dui sagittis, accumsan dui 
                  eget, blandit arcu. Suspendisse tempor, 
                purus vitae iaculis molestie, tellus mi rhoncus enim, in pulvinar nisi nisl sed nisl. Curabitur 
                volutpat arcu eu blandit suscipit. </p>
        </div>
     </aside>
</main>
<script>
    $('.togle-class-fn').click(function(event){
       if(!$(event.target).parent().hasClass('active')){
           $(event.target).parent().addClass('active')
       }

       if($(event.target).parent().siblings().hasClass('active')) {
           $(event.target).parent().siblings().removeClass('active');
       }
    })
</script>