<main>
    {{#this}}
    <article>
        <div class="post-content">
              <div class="post-full-content-left">
                  <div class="image-date">
                      <p class="post-categorie-left">{{categorie}}</p>
                    </div>
                    <p>TAGS</p> 
                        <ul>
                            <li>
                                tag
                            </li>
                             <li>
                                tag
                            </li>
                             <li>
                                tag
                            </li>
                        </ul> 
                    <p>RELATED POST</p>
                    <ul>
                        <li>tova</li>
                        <li>vtoro</li>
                        <li>treto</li>
                    </ul>
                    <p>SHARE THIS</p>
            </div>
            <div class="post-full-content-right">
                    <h4 class="post-title">{{title}}</h4>
                    <p class="post-author">POSTED BY {{author}} IN {{categorie}} categorie</p>
                    <hr class="separator">
                    <p class="full-text">{{content}}</p>
            </div>
          
        </div>
        {{#if comments}}
        {{#each comments}}
         <div>
            {{name}}
        </div>
        <div>
            {{commentText}}
        </div>
        {{/each}}
        {{else}}
        <div>No Comments</div>
        {{/if}}
        <div class="post-comments">
            <div class="comments-content">
                <form name="postCommentForm" class="comment-form" accept-charset="utf-8">
                    <input type="text"  required="required" id="authorName" placeholder="Your name">
                    <input type="url"  required="required" id="avatar" placeholder="Avatar URL">
                    <textarea required="required" id="text" rows="10"></textarea>
                    <div class="reply-btn-container">
                        <button class="reply-btn" >submit</button>
                    </div>
                </form>
             </div>
        </div>
    </article>
    {{/this}}
</main>